# Rust
target
Cargo.locks

# Node
node_modules/
dist
dist-ssr
/package
/.svelte-kit

# Local DB files
*.db
*.db-*

# Local config files
config*?.yaml
.env
.env.*
**/*.env*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE and Editors
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
build_rs_cov.profraw
coverage/*
/build
.bacon.toml
/docs/guide/book
docker/**/data
veloxide-frontend/
**/frontend/src/bindings/*
!.gitignore
docs/veloxide
docs/my-demo-app
_*
!src/_tests
__pycache__/
*.parquet
*.map
*.zip
*.gz
*.tar
*.tgz

# Multimedia
*.mov
*.mp4
*.icns
*.ico
*.jpeg
*.jpg
*.png
